@import url(reset.css);
.wrapper {
    overflow: clip;
    min-height: 100%;
}
body {
    font-family: Inter, sans-serif;
    background-color: #E5E5E5;
    font-size: 16px;
}
[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__content {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
}
.content-header__items {
    margin: 0 auto;
    max-width: 1170px;
    position: relative
}
.header__menu {
    display: inline-block;
    position: relative;
    left: 44px;
    top: 12px;
}
.menu-header__item {
    display: inline-block;
    font-weight: 600;
    line-height: 19px;
    color: #212B36;
}
.menu-header__item:not(:last-child) {
    margin-right: 35px;
}
.menu-header__item:first-child {
    margin-right: 45px;
}
.menu-header__item:not(:first-child):hover {
    color: #3056D3;
}
.menu-header__item--color {
    color: #3056D3;
}
.menu-header__categories {
    padding: 9px 44px 9px 20px;
    background: #F4F7FF;
    border-radius: 5px;
    position: relative;
}
.menu-header__categories:hover {
    background-color: rgb(25, 75, 237);
    color: #F4F7FF;
}
.menu-header__item:hover .menu-header__sub-menu {
    opacity: 1;
    visibility: visible;
}
.menu-header__categories::after {
    content: "";
    background: url(../img/arrow.svg) 0 0 no-repeat;
    display: inline-block;
    width: 12px;
    height: 6px;
    position: absolute;
    right: 20px;
    top: 16px;
}
.header__icons {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}
.icons-header__item {
    position: relative;
}
.icons-header__item--position {
    position: relative;
    top: -2px;
}
.icons-header__item:not(:last-child) {
    margin-right: 20px;
}
.menu-header__link::after {
    content: "";
    background: url(../img/arrow.svg) 0 0 no-repeat;
    display: inline-block;
    width: 12px;
    height: 6px;
    position: relative;
    right: -10px;
    top: -1px;
}
span {
    position: absolute;
    top: -4px;
    right: -8px;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    padding: 2px 5px;
    color: #FFFFFF;
    background: #3056D3;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.menu-header__sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    max-width: 180px;
    padding: 22px 28px 22px 24px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #637381;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.menu-header__sub-menu::after {
    content: "";
    position: absolute;
    width: 116%;
    height: 129%;
    top: -20%;
    left: -11%;
    z-index: -1;
    background-color: transparent;

}
.menu-header__sub-menu::before {
    content: "";
    background: url(../img/triangle.svg) 0 0 no-repeat;
    display: block;
    margin: -33px 0px 17px 0px;
    height: 15px;
    width: 25px;
}
.sub-menu__item:not(:last-child) {
    margin-bottom: 13px;
}
.sub-menu__item:hover {
    color: #3056D3;
}
.sub-menu__item--color {
    position: relative;
    color: #3056D3;
}
.sub-menu__item:hover .sub-menu__catalog{
    opacity: 1;
    visibility: visible;
}
.sub-menu__catalog {
    position: absolute;
    top: -40px;
    left: 156px;
    width: 368px;
    padding: 30px; 
    background-color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #637381;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.sub-menu__catalog::before{
    content: "";
    position: absolute;
    width: 116%;
    height: 129%;
    top: -20%;
    left: -11%;
    z-index: -1;
    background-color: transparent;
}
.catalog-menu__items {
    display: inline-block;
}
.catalog-menu__items:not(:last-of-type) {
    margin-right: 80px;
}
.catalog-menu__item:hover {
    color: #3056D3;
}
.catalog-menu__item:not(:last-child) {
    margin-bottom: 12px;
}
.catalog-menu__title {
    margin-bottom: 20px;
    font-weight: 600;
    color: #212B36;
}
.sub-menu__item--color::after {
    content: "";
    background: url(../img/arrow-blue.svg) 0 0 no-repeat;
    width: 14px;
    height: 12px;
    display: inline-block;
    position: relative;
    left: 67px;
    top: 1px;
}
.main__content {
    padding: 30px 0;
}
.content-main__items {
    margin: 0 auto;
    max-width: 1170px;
    padding-top: 100px;
}
.block-1, .block-2, .block-3, .block-4, .block-5, .block-6, .block-7, .block-8, .block-9, .block-10{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid #303942;
    box-shadow: 6px 4px 4px 0px rgb(13, 11, 16);
}
.block-1 {
    background-color: red;
    position: relative;
    left: -260px;
    z-index: 4;
}
.block-2 {
    background-color: orangered;
    position: relative;
    left: -200px;
    top: -10px;
    z-index: 3;
}
.block-3 {
    background-color: orange;
    position: relative;
    left: -140px;
    top: -20px;
    z-index: 2;
}
.block-4 {
    background-color: green;
    position: relative;
    left: -80px;
    top: -30px;
    z-index: 1;
}
.block-5 {
    background-color: blue;
    position: relative;
    left: -20px;
    top: -40px;
    z-index: 0;
}
.block-6 {
    background-color: darkblue;
    position: relative;
    left: 40px;
    top: -50px;
    z-index: -1;
}
.block-7 {
    background-color: purple;
    position: relative;
    left: 100px;
    top: -60px;
    z-index: -2;
}
.block-8 {
    background-color: palevioletred;
    position: relative;
    left: 160px;
    top: -70px;
    z-index: -3;
}
.block-9 {
    background-color: plum;
    position: relative;
    left: 220px;
    top: -80px;
    z-index: -4;
}
.block-10 {
    background-color: grey;
    position: relative;
    left: 280px;
    top: -90px;
    z-index: -5;
}

.fixed-frog {
    position: fixed;
    top: 140px;
    left: 30px;
    z-index: 5;
}
.fixed-frog-2 {
    position: fixed;
    top: 140px;
    right: 30px;
    z-index: 5;
}
.sticky-block {
    position: sticky;
    top: 99px;
    background-color: blueviolet;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    font-size: 32px;
}
.text-block {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    
}
.sticky-block--yellow {
    background-color: rgb(214, 226, 43);
}
.sticky-block--blue {
    background-color: rgb(43, 73, 226);
}
.footer__content {
    padding-top: 20px;
    padding-bottom: 40px;
}
.block {
    position: relative;
    border: 4px dotted red;
    max-width: 800px;
    margin: 0 auto;
    height: 200px;
}
.block div {
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.block-11 {
    background-color: yellow;
}
.block-12 {
    background-color: blue;
    position: absolute;
    bottom: 76px;
    left: 0;
    width: 100%;
}
.block-13 {
    background-color: green ;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}