@import url(reset.css);
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    color: #212529;
    background-color: rgb(190, 171, 249);
}
header {
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
label {
    margin-right: 10px;
}
.color {
    width: 100px;
    height: 60px;
}
.form-title {
    margin-bottom: 20px;
    font-weight: 600;
}
.form-radio:not(:last-child) {
    margin-bottom: 10px;
}
textarea {
resize: vertical;
}
select {
    font-size: 20px;
    padding: 8px;
}
button {  
}
footer {
    padding-bottom: 100px;
    text-align: center;
}
a {
    font-size: 30px;
    font-weight: 500;
    transition: color 0.3s;
}
a:hover{
    color: azure;
}
a:active {
    color: darkslateblue;
}
