@import url(reset.css);
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    background: #E5E5E5;
}
img {
    border-radius: 3px;
    opacity: 0.8;
    transition: all 0.3s;
}
img:hover {
    opacity: 1;
}

.header__content {
    padding: 100px 0 44px 0;
}
.row {
    display: flex;
    justify-content: space-between;
}
.block-row {
    display: flex;
    gap: 20px;
}
.block-row__item {
    font-weight: 500;
    line-height: 25px;
    color: #495057;
}
span {
    color: rgba(73, 80, 87, 0.5);
}

.content-main__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block__content {
    max-width: 393px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.block__content:nth-child(1) {
    margin-bottom: 45px;
}
.block__content:nth-child(2) {
    margin-bottom: 45px;
}
.block__content:nth-child(3) {
    margin-bottom: 45px;
}
.block__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    row-gap: 15px;   
}

.block__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #212529;
}
.block__title:hover {
    color: #5d5479;
}
.block__date, .block__text, .author {
    line-height: 20px;
    color: #495057;
}

.footer__content {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
.footer__link {
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #F8F9FA;
    background-color: #212529;
    border-radius: 3px;
    padding: 8px 50px;
    transition: all 0.3s;
}
.footer__link:hover {
    background-color: #454d54;
}